.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
npm-debug.log*
npm-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
npm.lock
# 不使用 lock，本地和服务器用的 npm 源不一样，可引起部署问题
package-lock.json
yarn.lock
private-config.json

.vercel
